.container {
  background-color: cornflowerblue;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.left_side {
  background-color: lightblue;
  width: 30%;
  max-width: 30rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right_side {
  background-color: mediumaquamarine;
  width: 80vw;
  padding: 5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card_style {
  width: 8rem;
  height: 12rem;
  border: 1rem solid black;
  margin: 1rem;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}

.purple {
  background-color: purple;
}

.card_style:hover {
  transform: scale(1.1);
}